@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility class to completely hide scrollbars but maintain scrolling functionality */
.scrollbar-none {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
